
<!DOCTYPE html>
<html>
<head>
    <!--编码格式-->
    <meta charset="utf-8" />
    <!--tab上图标-->
    <link rel="shortcut icon" type="image/svg" href="~/images/QQ图片20200224205436.png" medoa="screen" />
    <!--tab上标题-->
    <title>首页·一起帮</title>
    <!--响应式声明-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        header {
            display: flex;
            flex-direction: row;
            position: fixed;
        }

        #vip {
            float:right;
            position:relative;
        }
    </style>
</head>
<body>
    <header>
        <!--上图标-->
        <a href="http://17bang.ren"><img src="~/images/QQ图片20200224205436.png" /></a>

        <h4 style="color: black ">一起帮</h4>
        <p style="color: darkgrey">·网络互助平台</p>

        <nav>
            <ul>
                <li style="float:right; width:200px; height:200px;">
                    求助
                    <ul>
                        <li>督导班</li>
                        <li>列表</li>
                        <li>疑问发布</li>
                        <li>疑问列表</li>
                        <li>列表</li>
                        <li>发布</li>
                    </ul>
                </li>
                <li style="float:right; width:200px; height:200px;">
                    督促
                    <ul>
                        <li>求督促</li>
                        <li>督促别人</li>
                        <li>我的目标</li>
                        <li>我的督促</li>
                        <li>未交作业</li>
                    </ul>
                </li>
                <li style="float:right; width:200px; height:200px;">
                    文章
                    <ul>
                        <li><a href="/Article" target="_self">列表</a></li>
                        <li>开通</li>

                    </ul>
                </li>
                <li style="float:right; width:200px; height:200px;">
                    用户
                    <ul>
                        <li>新手任务</li>
                        <li>我的主页</li>
                        <li>帮帮豆</li>
                        <li>帮帮点</li>
                        <li>帮帮币</li>
                        <li>我的密码</li>
                        <li><a href="/contact" title="添加联系方式" target="_self">联系方式</a></li>
                        <li><a href="/Profile" title="修改资料" target="_self">个人资料</a></li>
                        <li>退出登录</li>
                    </ul>
                </li>
                <li style="float:right; width:200px; height:200px;">
                    后台
                    <ul>
                        <li>邀请注册</li>
                        <li>我的消息</li>
                        <li>我的草稿</li>
                        <li>联系方式</li>
                        <li>侧边栏</li>
                        <li>购买</li>
                        <li>出售</li>
                        <li>已购买</li>
                        <li>已出售</li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>
    <main>
        @RenderBody()
    </main>
    <article>
    </article>
    <aside>侧边栏</aside>
    <footer>
        关于我们 <a href="/FAQ/Credit" target="_self">常见问题/帮帮点</a> 意见建议 历史通知 友情捐赠 融资2018<br />
        友情链接：<a href="http://17bang.ren" title="飞哥的线上互助社区" target="_blank"> 一起帮</a> <br />
        <div  id="vip">
            <a href="http://17bang.ren" target="_blank"> 作业</a> © 飞哥真帅
        </div>
    </footer>
</body>
</html>
