
<!DOCTYPE html>
<html>
<head>
    <!--编码格式-->
    <meta charset="utf-8" />
    <!--tab上图标-->
    <link rel="shortcut icon" type="image/svg" href="~/images/QQ图片20200224205436.png" medoa="screen" />
    <!--tab上标题-->
    <title>首页·一起帮</title>
    <!--响应式声明-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rle="stylesheet" href="~/lib/Content/font-awesome.min.css" />

    <style>

        /*header {
            display: flex;
            flex-direction: row;
            position: fixed;
        }
        #vip {
            float: right;
            position: relative;
        }
        aside {
            float: right;
            position: fixed;
        }*/
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="http://17bang.ren"><img src="~/images/QQ图片20200224205436.png" /></a>
            <h4 class="navbar-brand" href="#">一起帮·网络互助平台</h4>

            <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        求助
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>


            @*<ul class="dropdown row">
            <li>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    求助
                </button>
            </li>
            <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">督导班</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">列表</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">疑问发布</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">疑问列表</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">列表</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">发布</a>
            </li>
        </ul>
        <ul class="dropdown">
            <li>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    督促
                </button>
            </li>
            <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">督促别人</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">我的目标</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">我的督促</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">未交作业</a>
            </li>
        </ul>*@
            @*<ul class="dropdown">
            <li>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    文章
                </button>
            </li>
            <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">列表</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">开通</a>
            </li>
        </ul>*@
            @*<ul class="dropdown">
            <li>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    用户
                </button>
            </li>
            <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">新手任务</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">我的主页</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">帮帮豆</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">帮帮点</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">帮帮币</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">我的密码</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">联系方式</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">个人资料</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">退出登录</a>
            </li>
        </ul>
        <ul class="dropdown">
            <li>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    后台
                </button>
            </li>
            <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">邀请注册</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">我的消息</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">我的草稿</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">联系方式</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">侧边栏</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">购买</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">出售</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">已购买</a>
            </li>
            <li class="col-sm">
                <a class="dropdown-item" href="#">已出售 </a>
            </li>
        </ul>*@
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <article>
    </article>

    <footer>
        <aside style="color:aquamarine">
            <p>帮助</p>
            <p>反馈</p>
        </aside>
        关于我们 <a href="/FAQ/Credit" target="_self">常见问题/帮帮点</a> 意见建议 历史通知 友情捐赠 融资2018<br />
        友情链接：<a href="http://17bang.ren" title="飞哥的线上互助社区" target="_blank"> 一起帮</a> <br />
        <div id="vip">
            <a href="http://17bang.ren" target="_blank"> 作业</a> © 2020 - 首顾科技
        </div>
    </footer>
</body>
</html>
