@page
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form method="post">
    </form>
    <h3>联系方式录入</h3>
    <label>QQ：</label> <input type="text" name="username" value="建议填写" /><br />
    <label>微信：</label> <input type="text" name="username" value="建议填写" /><br />
    <label>电话：</label> <input type="text" name="username" value="请谨慎考虑是否填写" /><br />
    <label>其他：</label><textarea name="selfDescription">需要说明的情况，比如加QQ时验证问题的回答，否则别人加不了，这就尴尬了。 </textarea><br />
    <a href="/Index" target="_self"><input type="submit" value="提交" />成功激活之后自动返回主界面</a>
    
    <h4>说明</h4>
    <ol>
        <li>因为联系方式会公开显示，我们不建议你填写电话号码，以免个人信息被泄露。</li>
        <li>所以我们推荐使用QQ/微信等网络通信方式。</li>
        <li>注意填写QQ作为联系方式时，不要忘了留下“添加好友”的验证条件</li>
    </ol>
</body>
</html>