@page
<!DOCTYPE html>
<html>
<head>    
</head>
<body>
    <form method="post">
    </form>
    <p style="font-size:20px">注册</p>
    <span style="margin-left:4px;">
        说明
    </span>
    <ol class="page-introduction-ol" zyf-page-introduction-body="">

        <li>我们希望通过<a href="/About/Us">一起帮</a>，能<span class="text-primary text-bold">直接解决</span>大家在<span class="text-primary">电脑操作/软件使用/编程学习</span>等方面的<span class="text-primary text-bold">具体问题</span>。</li>
        <li>现在互联网远程技术<span class="text-muted">（比如QQ桌面共享）</span>已经非常成熟，当我们再遇到上述问题，如果别人能<span class="text-primary">直接远程给予帮助</span>，岂不是好？</li>
        <li>当然，你也可以在你熟悉的领域去<span class="text-primary">帮助别人</span>。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
        <li>公平起见，我们还引入了 帮帮<span class="water">点</span>/<span class="credit">币</span>/<span class="bean">豆</span> 三级概念，以记录和衡量社区成员的收获和贡献。</li>
        <li>赶快加入我们，赚取帮帮币吧！</li>
        <li><a href="/About/Us"><span class="fa fa-hand-o-right"></span> 了解更多</a></li>

    </ol>
    <section style="padding:0 10px 0 10px; margin-bottom:10px;" class="yellow-highlight">

        <div class="text-right" style="padding-top:10px;">
            <a href="/FAQ/Account#invite"><span class="fa fa-question-circle"></span> 为什么需要邀请</a>
        </div>
        <div class="form-group">
            <label>邀请人：</label>（* 必填，<a href="/User/Inviters" class="text-info" data-toggle="tooltip" title="" data-original-title="点击由系统推荐">没有邀请人</a>）
            <input class="form-control" data-val="true" data-val-length="* 邀请人的长度不能大于20" data-val-length-max="20" data-val-required="* 邀请人不能为空" id="InviterName" name="InviterName" placeholder="他的用户名，模糊查询只能从头开始" type="text" value="" zyf-search-by-username="">
            <div zyf-search-username-result=""></div>
            <span class="field-validation-valid" data-valmsg-for="InviterName" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label>邀请码：（* 必填）</label>
            <input class="form-control" data-val="true" data-val-regex="* 邀请码只能是4位数字" data-val-regex-pattern="[0-9]{4}" data-val-required="* 邀请码不能为空" id="InviteCode" name="InviteCode" placeholder="4位数字" type="text" value="">
            <span class="field-validation-valid" data-valmsg-for="InviteCode" data-valmsg-replace="true"></span>
        </div>
    </section>

    <label>用户名：（*必填）</label>
    <input class="form-control" data-val="true" data-val-length="* 用户名的长度不能大于20" data-val-length-max="20" data-val-remote="* 用户名重复，请重新输入" data-val-remote-additionalfields="*.UserName" data-val-remote-url="/User/_NameIsExist" data-val-required="* 用户名不能为空" id="UserName" name="UserName" placeholder="登录用户名，可修改，不能重复" type="text" value="" />
    <br />
    <label>密码：（*必填）</label>
    <input class="form-control" data-val="true" data-val-length="* 密码的长度不能小于4，大于20" data-val-length-max="20" data-val-length-min="4" data-val-required="* 密码不能为空" id="Password" name="Password" placeholder="不少于4个字符" type="password">
    <br />
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="icon" />
        <button type="reset">reset</button>
    </form>
    <!-- 不要用它存储敏感信息 -->
    <input type="hidden" name="fg" value="潜伏者" />
    <label>性别：</label>
    <!-- 使用name属性进行分组 -->
    <!-- 小技巧：用label包裹checkbox -->
    <label><input type="radio" name="gender" value="male" checked /> 男</label>
    <!-- radio和checkbox只能disabled不能readonly（实际上是bug） -->
    <input type="radio" name="gender" value="female" readonly />女 <br />
    <label>爱好：</label>
    <label><input type="checkbox" name="hobby" value="table-tenis" />乒乓球</label>
    <label><input type="checkbox" name="hobby" value="chess" />象棋</label>
    <label><input type="checkbox" name="hobby" value="LOL" />LOL</label><br />

    <label>自我介绍：</label><br />
    <textarea name="selfDescription"></textarea><br />
    <label>年龄：</label>
    <select name="age">
        <!-- 往后台传递的是value -->
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select><br />
    <!--<button type="submit">按钮</button>-->
    <input type="submit" value="提交" />
    <input type="reset" value="重置" />
</body>
</html>
