@page

@{
    Layout = "_Layout";
}





<h4>因为注册时使用了喵了个咪的邀请码，系统赠送给 skull ① 10点 帮帮点</h4>
<p>全部消息</p>
<br />

<h4>更多历史</h4>

<div>
    <p>TA回复</p>
    <span>2020/2/3 10:54:01</span>
    <span>猫了个咪④</span>
    <p>欢迎注册本站学习，邀请人：喵了个咪，邀请码0434</p>
</div>

<div>
    <p>TA回复</p>
    <span>2020/2/3 11:14:49</span>
    <span>猫了个咪④</span>
    <p>http://http://17bang.ren/Register/Home?name=%e5%96%b5%e4%ba%86%e4%b8%aa%e5%92%aa&code=0434</p>
</div>

<div>
    <p>TA回复</p>
    <span>2020/2/7 3:05:18</span>
    <span> lk6321 ①</span>
    <p>啥?</p>
</div>
<div>
    <p>TA回复</p>
    <span>2020/2/9 14:03:27</span>
    <span> U33445687 ③</span>
    <p>666666</p>
</div>
<div>
    <p>TA回复</p>
    <span>2020/2/13 19:59:29</span>
    <span> 云飞飞飞 ①</span>
    <p>666666666</p>
</div>
<div>
    <p>TA回复</p>
    <span>2020/2/17 0:24:57</span>
    <span> 疾风小白 ①</span>
    <p>hai</p>
</div>
<div>
    <p>TA回复</p>

    <span>2020/2/18 15:41:29</span>
    <span> HarriethWiKk ②</span>
    <p>6</p>
</div>
<div>
    <p>TA回复</p>

    <span>2020/2/19 12:39:21</span>
    <span> HarriethWiKk ②</span>
    <p>嗨</p>
</div>
<div>
    <p>TA回复</p>
    <span>2020/3/1 9:05:08</span>
    <span> 叶飞 ⑩</span>
    <p>
        喵了个咪 ④
        欢迎注册本站学习，邀请人：喵了个咪，邀请码0434...
        这个广告打得，6666
    </p>

</div>
<div>
    <p>TA回复</p>
    <span>2020/3/1 19:13:41</span>
    <span> skull ①</span>
    <p>
        这个手机上面使用感受不是太好哦
    </p>
</div>
<br />

<form method="post">
</form>

<div>
    <h3>“源栈”Web开发培训班 火热 招生中：</h3>
    <p>线上：全程直播，免费收看</p>
    <p>线下：灵活学制，拎包入住</p>
    <p>有意向的同学，可以加QQ群：326801052</p>
    <img src="~/images/QQ图片20200302225602.png" title="QQ学习群：326801052" />
</div>
