@page
<!DOCTYPE html>
<html>
<head>
    <!--编码格式-->
    <meta charset="utf-8" />
    <!--tab上图标-->
    <link rel="shortcut icon" type="image/svg" href="~/images/QQ图片20200224205436.png" medoa="screen" />
    <!--tab上标题-->
    <title>首页·一起帮</title>
</head>
<body>
    <nav>
        <!--上图标-->
        <img src="~/images/QQ图片20200224205436.png" />
        <b>一起帮·网络互助平台</b>
     求助   督导
        <a href="/Thearticle" title="前往文章" target="_self">文章</a>
        <a href="/Thelogin" title="前往登录" target="_self">登录</a>
        <a href="/enroll" title="前往注册" target="_self">注册</a>
    </nav>
    <header>
        <!--上图标-->
        <img src="~/images/源栈上课啦.jpg" alt="源栈广告" title="大神小班，ASP.NET全栈培训" />
    </header>
    <main>
        <p style="font-size:24px;color:red;"> 源栈欢迎您！</p>
    </main>
    <article>
        <h4>论飞哥有多帅</h4>
        <p style="font-weight:100">我个人感觉飞哥很帅</p>


       



    </article>
    <aside>侧边栏</aside>
    <footer>页脚</footer>
</body>
</html>
