@page
<!DOCTYPE html>
<html>
<head>
    <!--编码格式-->
    <meta charset="utf-8" />
    <!--tab上图标-->
    <link rel="shortcut icon" type="image/svg" href="~/images/QQ图片20200224205436.png" medoa="screen" />
    <!--tab上标题-->
    <title>首页·一起帮</title>
</head>
<body>
    <nav>
        导航栏
    </nav>
    <header>
        <!--上图标-->
        <img src="~/images/源栈上课啦.jpg" alt="源栈广告" title="大神小班，ASP.NET全栈培训" />
    </header>
    <main>页面主要部分</main>
    <article>文章</article>
    <aside>侧边栏</aside>
    <footer>页脚</footer>
</body>
</html>