@page
<!DOCTYPE html>
<html>
<head>
    <!--编码格式-->
    <meta charset="utf-8" />
    <!--tab上图标-->
    <link rel="shortcut icon" type="image/svg" href="~/images/QQ图片20200224205436.png" medoa="screen" />
    <!--tab上标题-->
    <title>首页·一起帮</title>
</head>
<body>
    <nav>
        <!--上图标-->
        <img src="~/images/QQ图片20200224205436.png" />
        <b>一起帮·网络互助平台</b>
        求助   督导<br />
        <a href="/Thearticle" target="_self">文章</a>
        <ul>

            <li>列表</li>
            <li>开通</li>
        </ul>
        <a href="/Thelogin" target="_self">登录</a>
        <ul>
            <li>新手任务</li>
            <li>我的主页</li>
            <li>帮帮豆</li>
            <li>帮帮点</li>
            <li>帮帮币</li>
            <li>我的密码</li>
            <li><a href="/contact" title="添加联系方式" target="_self">联系方式</a></li>
            <li><a href="/thepersonaldata" title="修改资料" target="_self">个人资料</a></li>
            <li>退出登录</li>
        </ul>
        <a href="/enroll" target="_self">注册</a>
    </nav>
    <header>
        <!--上图标-->
        <img src="~/images/源栈上课啦.jpg" alt="源栈广告" title="大神小班，ASP.NET全栈培训" />
    </header>
    <main>
        <p style="font-size:24px;color:red;"> 源栈欢迎您！</p>
    </main>
    <article>
        <h4>论飞哥有多帅</h4>
        <p style="font-weight:100">我个人感觉飞哥很帅</p>





    </article>
    <aside>侧边栏</aside>
    <footer>
        关于我们 常见问题 意见建议 历史通知 友情捐赠 融资2018<br />
        友情链接：<a href="http://17bang.ren" titet="飞哥的线上互助社区" target="_blank">一起帮</a>
    </footer>
</body>
</html>
