@page
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form method="post">
    </form>
    <p style="font-size:24px;color:red;">说明</p>
    <ol><!--ordered list-->
        <li>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</li>
        <li>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</li>
        <li>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
        <li>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</li>
        <li>赶快加入我们，赚取帮帮币吧！</li>
    </ol>


    <p style="font-size:20px">用户登录</p>
    <label>用户名：（*必填）</label> <input type="text" name="username" value="不是昵称，是登录用户名" /><br />
    <label>密码：（*必填）</label><input type="password" name="password" disabled value="" /><br />
    <span zyf-img-code="">

        <input class="form-control" data-val="true" data-val-length="* 验证码的长度只能等于4" data-val-length-max="4" data-val-length-min="4" data-val-required="* 验证码不能为空" id="InputImageCode" name="InputImageCode" style="width:80px; display: inline;" type="text" value="">
        <img zyf-image-code="" style="vertical-align: middle; display: none;">
        <a name="imageCode">

        </a><a href="#" zyf-refresh-image-code="" style="font-size: 12px; display: none">
            看不清楚
        </a>
        <span zyf-image-code-reminder="">点击输入框显示</span>
        <span zyf-image-code-error="" class="field-validation-error"></span>
        <br>
        <span class="field-validation-valid" data-valmsg-for="InputImageCode" data-valmsg-replace="true"></span>
    </span>
    <!--<button type="submit">按钮</button>-->
    <input type="submit" value="提交" />
</body>

</html>